*, body {
    margin: 0 auto;
    font-family: 'Montserrat', 'sans-serif';
}

.load {
    height: 100vh;
}

.container {
    height: 100vh;
    background-color: #0B1622;
    color: #f5f5f5;
    transition: 0.3s;
}

.change-container {
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.title-container {
    text-align: center;
    margin-bottom: 50px;
}

.button {
    width: 10%;
    font-weight: bold;
    font-size: 24px;
    border-style: solid;
    border-radius: 10px;
    border-color: #f5f5f5;
    transition: 0.3s;
}

.button:hover {
    transition: 0.3s;
    background-color: #f5f5f5;
    color: #121212;
    cursor: pointer;
}

.accordion {
    width: 50%;
    color: #121212;
}

.accordion {
    border-style: solid;
    border-radius: 5px;
    border-color: #f5f5f5;
}

.accordion-title {
    background-color: #2E3742;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #f5f5f5;
    color: #f5f5f5;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    color: #f5f5f5;
    background-color: #1F2935;
}

.hide {
    padding: 5px;
}

.show {
    padding: 5px;
}
