{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <title>Home Page</title>
    </head>

    <body>
        <div class="load"></div>

        <div class = 'container'>
            <div class="change-container">
                <p class="button">
                    Go Dark
                </p>
            </div>

            <div class="title-container">
                <h1>
                    Hello There ! <br>
                    Welcome (Again) To My (Other (Other)) Website
                </h1>
            </div>

            <div class="accordion">

                <div class="accordion-items">
                    <div class="accordion-title">
                        <h3> Who Am I ? </h3>
                    </div>

                    <div class="accordion-content">
                        <div class="hide">
                            <p>
                                My name is Alwan Harrits, my friends usually call me Alwan. I am currently taking a Computer Science Degree
                                at the Faculty Of Computer Science at the University of Indonesia.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-items">
                    <div class="accordion-title">
                        <h3> What's My Education Background ? </h3>
                    </div>

                    <div class="accordion-content">
                        <div class="hide">
                            <p>
                                <ul>
                                    <li> University of Indonesia (2018 - Now) </li>
                                    <li> 68 Senior High School (2015 - 2018) </li>
                                    <li> Labschool Junior High School (2012 - 2015) </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-items">
                    <div class="accordion-title">
                        
                        <h3> What Am I Working On At The Moment ? </h3>
                    </div>

                    <div class="accordion-content">
                        <div class="hide">
                            <p>
                                <ul>
                                    <li> PIC of Equipment at Pemira Fasilkom UI 2019 </li>
                                    <li> Staff of Academic and Leadership at BEM Fasilom UI 2019 </li>
                                    <li> Staff of Musholla Prosperity Bureau at FUKI Fasilkom UI 2019 </li>
                                </ul>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="accordion-items">
                    <div class="accordion-title">
                        <h3> What Kind Of Organization/Committe That I Have Participated In ? </h3>
                    </div>
    
                    <div class="accordion-content">
                        <div class="hide">
                            <p>
                                <ul>
                                    <li> PIC Of Equipment At Pemira Fasilkom UI 2019 (Ongoing) </li>
                                    <li> Staff of Academic and Leadership Department At BEM Fasilkom UI 2019 (Ongoing) </li>
                                    <li> Staff of Musholla Prosperity Bureau At FUKI Fasilkom UI 2019 (Ongoing) </li>
                                    <li> Staff of Innovative App Competition Division at COMPFEST 2019 </li>
                                    <li> Staff of Games and Competition At CGT Fasilkom UI 2019  </li>
                                    <li> Staff of Event at Wisuda Genap Fasilkom UI 2019 </li>
                                    <li> Staff of Equipment At Wisuda Ganjil Fasilkom UI 2019 </li>
                                    <li> Staff of Event At Open House Fasilkom UI 2019 </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-items">
                    <div class="accordion-title">
                        <h3> What Kind Of Achievements That I've Achieved ? </h3>
                    </div>
    
                    <div class="accordion-content">
                        <div class="hide">
                            <p>
                                None
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            
            
        </div>


        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="{% static 'home.js' %}"></script>
        
    </body>
</html>